{
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 120,
  "importOrder": [
    "^@/api/(.*)$",
    "^@/app/(.*)$",
    "^@/asset/(.*)$",
    "^@/common/(.*)$",
    "^@/components/(.*)$",
    "^@/constant/(.*)$",
    "^@/hooks/(.*)$",
    "^@/hooks/(.*)$",
    "^@/types/(.*)$",
    "^@/utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
