@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.animatePulse {
  background-color: var(--skeleton-bg);
  animation: pulse 1.5s infinite ease-in-out;
  border-radius: 0.5rem;
}
