@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #f2f2f5;
}

input,
button,
textarea,
select,
label,
li,
svg {
  cursor: pointer;
}

input,
textarea,
select {
  border-width: 1px;
  border-radius: 0.5rem;
  resize: none;
  padding: 0.75rem 1rem;
}

button {
  border: none;
  border-radius: 0.5rem;
}

.layout {
  display: flex;
  flex-direction: column;
}

@supports (-webkit-touch-callout: none) {
  .layout {
    height: -webkit-fill-available;
  }
}

.layout > header {
  min-width: 256px;
  width: 100vw;
  height: 4rem;
  background-color: white;
  position: fixed;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout > main {
  min-width: 256px;
  background-color: #f2f2f5;
  margin-top: 4.6rem;
  margin-bottom: 4rem;
}

@media screen and (max-width: 767px) {
  .layout {
  }

  header {
  }

  main {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .layout {
  }

  header {
  }

  main {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .layout {
  }

  header {
  }

  main {
    padding: 0 12rem;
  }
}
