@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #9470dc;

  --bg-header: #fdfdfd;
  --bg-main: #f5f5f5;
  --bg-section: #fdfdfd;
  --bg-blue: #f9f9fc;

  --txt-default: #151515;
  --txt-gray: #c4c4c4;
  --txt-blue: #0894e2;
  --txt-red: #db2840;

  --skeleton-bg: #ececec;
}

html.dark {
  --bg-header: #1b1b1d;
  --bg-main: #27272a;
  --bg-section: #1b1b1d;
  --bg-blue: #202329;

  --txt-default: #d0d0d4;
  --txt-gray: #a8a8ab;
  --txt-blue: #0894e2;
  --txt-red: #f1455f;

  --skeleton-bg: #232326;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

/* @supports (-webkit-touch-callout: none) {
  * {
    min-height: -webkit-fill-available;
    height: -webkit-fill-available;
  }
} */

header {
  position: fixed;
  width: 100vw;
  min-width: 256px;
  height: 3rem;
  top: 0;
  padding: 0 1rem;
  z-index: 30;
}

footer {
  position: fixed;
  width: 100vw;
  min-width: 256px;
  height: 3rem;
  bottom: 0;
  padding: 0 1.4rem;
  z-index: 30;
}

input,
button,
textarea,
select,
label,
li,
svg {
  cursor: pointer;
}

input {
  width: 100%;
  border-bottom-width: 1px;
  padding: 0.75rem 0.5rem;
}

select,
textarea {
  width: 100%;
  border-width: 1px;
  border-radius: 0.25rem;
  border-color: rgb(209 213 219);
  padding: 0.75rem 0.5rem;
  resize: none;
}

button {
  width: 100%;
  border-radius: 0.25rem;
  padding: 1rem;
}

main {
  min-width: 256px;
  min-height: 100dvh;
}

@media screen and (max-width: 767px) {
  main {
    padding: 5rem 1rem 6rem 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    padding: 5rem 2rem 4rem 2rem;
  }
}

@media screen and (min-width: 1024px) {
  main {
    padding: 5rem 12rem 4rem 12rem;
  }
}
